<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img 
      src="https://cdn.ihsmarkit.com/www/images/0523/accuris.svg" alt="Accuris" width="60" height="30">
    </a>
    <button 
    class="navbar-toggler" 
    type="button" 
    data-bs-toggle="collapse" 
    data-bs-target="#navbarColor02" 
    aria-controls="navbarColor02" 
    aria-expanded="true" 
    aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="home" routerLinkActive="true">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="pickup" routerLinkActive="true">Pickup Locations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="trace" routerLinkActive="true">Trace</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" 
          data-bs-toggle="dropdown" href="#" role="button"
           aria-haspopup="true" aria-expanded="false">Lookup</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="item" routerLinkActive="true">Item Lookup</a>
            <a class="dropdown-item" routerLink="attribute" routerLinkActive="true">Attribute Lookup</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" 
          data-bs-toggle="dropdown" href="#" role="button"
           aria-haspopup="true" aria-expanded="false">Status</a>
          <div class="dropdown-menu">
            <a class="nav-link" routerLink="license" routerLinkActive="true">License Manager Updater</a>
          </div>
        </li>
           <li class="nav-item">
          <a class="nav-link" routerLink="trans" routerLinkActive="true">Transform Errors</a>
        </li>
        </ul>
      <form class="d-flex">
        <span style="color: white;">{{currentDate | date :'fullDate'}}</span>
        <span style="color: white;"> Tracker</span>
      </form>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>